*{
    margin: 0;
    padding:0;
    text-decoration: none;
    font-family: sora,poppins, Arial, Helvetica, sans-serif;
    color: aliceblue;
    list-style: none;

}

.text-red {
    color:#f13024;
  }

body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url('/public/site-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: relative;
}
